<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
    
    
    <center>
    <h1> Your Cart: </h1>
    <a href = "http://127.0.0.1:5000/"> Return Home </a>
    
    <h4> First Item: </h4>
    <img src = "https://cdn.tees.design/uploads/2019/01/01044822/Cool-Cody-Ko-Merch-T-Shirt-Black-Unisex-T-shirt.png" width ="50" height = "50"></img>
    <h4> Shlebster Merch #1</h4>
    <h4> Second Item: </h4>
    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmAzdJ6UYUJtFrWoq-XshLJGLVBorvQXbCjg&usqp=CAU" width ="50" height = "50"></img>
    <h4> Shlebster Merch #2</h4>
    <h4> Third Item: </h4>
    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpFeLXI2yihOHzOoOS-1fEkX5MYSOmimt7_w&usqp=CAU" width ="50" height = "50"></img>
    <h4> Shlebster Merch #3</h4>
    <h4> Total Price:   6000$</h4>
    </center>



    <style> 

body{
    background-color: turquoise;
}
</style>
</body>
</html>