<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

    <h1> Products: </h1>
    <a href = "http://127.0.0.1:5000/"> Return Home </a>
<center><div class="row">
  <div class="column">
    <img src="https://cdn.tees.design/uploads/2019/01/01044822/Cool-Cody-Ko-Merch-T-Shirt-Black-Unisex-T-shirt.png" alt="Snow" style="width:50%">
    <h5> Description: Cool Merch Brought to You straight by the Shlebster!!! <br> Price: 2000$</h5>
  </div>
  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmAzdJ6UYUJtFrWoq-XshLJGLVBorvQXbCjg&usqp=CAU" alt="Forest" style="width:50%">
    <h5> Description: Cool Merch Brought to You straight by the Shlebster!!! <br> Price: 2000$</h5>
  </div>
  <div class="column">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpFeLXI2yihOHzOoOS-1fEkX5MYSOmimt7_w&usqp=CAU" alt="Mountains" style="width:50%">
    <h5> Description: Cool Merch Brought to You straight by the Shlebster!!! <br> Price: 2000$</h5>
  </div>
</center></div>
<style> 

h5{
    font-size: 25px;
}


body{
    background-color: turquoise;
}
</style>


</body>
</html>